<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
  <!-- Navigation-->
  <nav>
    <div>
        <a>Aplicación de catálogo de libros</a>
    </div>
</nav>
<body>
        <div class="container position-relative">
            <div class="row justify-content-left">
                <div class="col-xl-6">
                <ul>
                <li><a href="{% url 'book_list' %}">Listar Libros</a></li>
                <li><a href="{% url 'book_create' %}">Agregar Libro</a></li>
            </ul>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
